<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
		<add name="CsKurslar" connectionString="Server=DESKTOP-8M7D7GE\SQLEXPRESS;Database=Kurslar; Trusted Integration=true"/>
	</connectionStrings>
  
</configuration>
