
@model List<UploadImageProject.Models.UploadImageModel>

@{ 
    ViewData["Title"] = "Resim Listesi ve Yükleme";
}

@if (Model.Count>0)
{
    <table class="table table-dark">

        <thead>
            <tr>
                <th>Resim</th>
                <th>Resim Adı</th>
                <th> Resim boyut </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var image in Model)
	{
            <tr>

                <td>
                    <img src="/@image.FullName" style="width:100px;" />
                </td>
                <td>
                    @image.FullFile 
                </td>
                <td>
                    @image.Size (kb)
                </td>

            </tr>

	}


        </tbody>



    </table>
}















<form asp-action="UploadImage" enctype="multipart/form-data">
    <h3 class="display-3">Resim Yükle</h3>
    <div class="form-group">
        <div class="form-group"></div>
        <label>Resim yolu</label>
        <input type="file" name="file" class="form-control" />
        <div class="form-group">
            <input type="submit"  class="btn btn-outline-primary" />

        </div>
    </div>
</form>

