<form asp-action="ImageUpload" enctype="multipart/form-data">

    <h2 class="display-3">

        Resim Yükle
    </h2>
    <div class="form-group">
        <label> Resim yolu</label>
        <input type="file" name="file" class="form-control"  />
   </div>

    
    <div class="form-group">

        <input type="submit" class="btn btn-outline-primary" />
    </div>    


</form>