
@{
    Layout = "_Layout";
}


<section class="d-flex justify-content-center">
    <h1> Hos geldiniz</h1>
    <h4> Web 6 grubu projesi</h4>
    <p> bu proje mvc yaklasımı ile hazırlanmıstır.</p>

</section>